<div class="screen">
  <app-custom-card
    [singleImage]="'https://cdn.sotel.de/images/1000795248/apple-iphone-12-128gb-gruen-ohne-simlock-002.jpg'">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>
      <div class="card-header-information">
        <span class="header-label">STATUS</span>
        <span class="header-value status closed">Closed</span>
      </div>
    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>

  <app-custom-card
    [singleImage]="'https://cdn.sotel.de/images/1000795248/apple-iphone-12-128gb-gruen-ohne-simlock-002.jpg'">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>

  <app-custom-card [multiImages]="imagesAray">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>
      <div class="card-header-information">
        <span class="header-label">STATUS</span>
        <span class="header-value status requested">Requested</span>
      </div>
    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>

  <app-custom-card (onClose)="methord($event)" [multiImages]="imagesAray">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>
      <div class="card-header-information">
        <span class="header-label">STATUS</span>
        <span class="header-value status blocked">Blocked</span>
      </div>
    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>

  <app-custom-card [multiImages]="imagesAray2">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>

  <app-custom-card>
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>



</div>


<div class="screen">
  <app-custom-card [canShowDocument]="false">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>
  <app-custom-card [canShowDocument]="false" [canShowClose]="false">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>


      <div class="card-body-information">
        <div class="body-label">
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>
  <app-custom-card [canShowDocument]="false" [canShowClose]="false">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>
  <app-custom-card [canShowViewMore]="false">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>
  <app-custom-card [canShowViewMore]="false" [canShowDocument]="false" [canShowClose]="false">
    <ng-template #cardHeader>
      <div class="card-header-information">
        <span class="header-label">ORDER ID</span>
        <span class="header-value">132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ132123IUJJ</span>
      </div>

    </ng-template>
    <ng-template #cardBody>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close body-label-icon fa fa-car"></i>
          <span>ORDER ID</span>
        </div>
        <span class="body-value">9bnd563i4hd725jbdo93tvb389s</span>
      </div>

      <div class="card-body-information">
        <div class="body-label">
          <i class="sila icon-la-close fa fa-close body-label-icon"></i>
          <span>Description</span>
        </div>
        <span class="body-value">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</span>
      </div>

    </ng-template>
  </app-custom-card>
</div>